.mainBlock {
	background-color: gainsboro;
	box-shadow: 1px 1px 10px 1px gray;
	font-size: 20px;
	display: flex;
	margin-left: 20px;
	align-items: center;
	padding: 10px;
	color: black;
}

span {
	margin-left: 10px;
}
